<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Bootstrap core CSS -->
	<link href="https://storage.googleapis.com/marquin-public-bucket-01/Skeleton-2.0.4/css/skeleton.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="nine columns">
				<img src="https://storage.googleapis.com/marquin-public-bucket-01/data-sheet.png", width=50>
			</div>

			<div class="three columns">
				<img src="https://storage.googleapis.com/marquin-public-bucket-01/FINAL%20LOGO%20LARGE%20OPTION%20DARK%20GREY%20FOR%20WEBSITE.png", width=50>
			</div>
		</div>
	</div>


	<div class = "container">
			{{ article }}
	</div>

</body>